# Here we want to curate a dataset of trees

This is challenging because NO PAPERS PROVIDE THEIR DATA

In [1]:
# Read in Tallo and see if any sites have high proportoin of certain trees

import pandas as pd 

df = pd.read_csv('../data/tallo/Tallo.csv')
df

,tree_id,division,family,genus,species,latitude,longitude,stem_diameter_cm,height_m,crown_radius_m,height_outlier,crown_radius_outlier,reference_id
0,T_1,Angiosperm,Betulaceae,Betula,Betula pubescens,67.3950,28.7230,10.0,5.6,1.65,N,N,1
1,T_2,Gymnosperm,Pinaceae,Picea,Picea abies,67.3950,28.7230,10.0,6.6,0.85,N,N,1
2,T_3,Gymnosperm,Pinaceae,Picea,Picea abies,67.3950,28.7230,10.0,8.5,0.75,N,N,1
3,T_4,Gymnosperm,Pinaceae,Picea,Picea abies,67.3950,28.7230,10.0,7.2,0.75,N,N,1
4,T_5,Gymnosperm,Pinaceae,Picea,Picea abies,67.3950,28.7230,10.0,8.1,1.10,N,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
498833,T_498834,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-43.1593,146.8434,589.0,79.7,NaN,N,N,69
498834,T_498835,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-43.1213,146.8172,593.0,78.0,NaN,N,N,69
498835,T_498836,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-41.2273,147.9892,605.0,59.0,NaN,N,N,69
498836,T_498837,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-43.0766,146.7702,608.0,73.0,NaN,N,N,69
498837,T_498838,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-43.1511,146.8360,652.0,79.3,NaN,N,N,69

In [2]:
# What we want to do is group by lat and long and then look at the species distribution try find places with very few
grped = df.groupby(['latitude', 'longitude'])
location_map = {}

for location, values in grped:
    location_map[location] = {}
    family = {}
    genus = {}
    species = {}
    division = {}
    loc_size = len(values)
    for f in set(values['family'].values):
        family[f] = len(values['family']==f)/loc_size
    for f in set(values['genus'].values):
        genus[f] = len(values['genus']==f)/loc_size
    for f in set(values['species'].values):
        species[f] = len(values['species']==f)/loc_size
    for f in set(values['division'].values):
        division[f] = len(values['division']==f)/loc_size
    location_map[location]['size'] = loc_size
    location_map[location]['division'] = division
    location_map[location]['family'] = family
    location_map[location]['genus'] = genus
    location_map[location]['species'] = species

In [3]:
# (52306, 9550)

In [4]:
# Calculate the number of places which have different numbers...
homo = []
hetro = []

for loc, location in location_map.items():
    if len(location['species']) == 1:
        homo += [c for c in location['species']] # i.e. add in the species
    else:
        hetro.append(loc)

In [5]:
h_counts = {}
for h in homo:
    if not h_counts.get(h):
        h_counts[h] = 1
    else:
        h_counts[h] += 1

In [6]:
# Cool now print assending order
{k: v for k, v in sorted(h_counts.items(), key=lambda item: -item[1])}

{'Quercus ilex': 9221,
 'Pinus pinaster': 8351,
 'Pinus halepensis': 8132,
 'Pinus sylvestris': 5913,
 'Pinus nigra': 4066,
 'Fagus sylvatica': 2025,
 'Pinus pinea': 1897,
 'Quercus suber': 1836,
 'Quercus faginea': 1578,
 'Pinus radiata': 1516,
 'Eucalyptus globulus': 1493,
 'Quercus robur': 1367,
 'Castanea sativa': 805,
 'Quercus petraea': 614,
 'Pinus uncinata': 602,
 'Eucalyptus camaldulensis': 506,
 'Populus nigra': 390,
 nan: 243,
 'Abies alba': 152,
 'Picea abies': 126,
 'Eucalyptus regnans': 92,
 'Quercus rubra': 88,
 'Quercus canariensis': 78,
 'Pseudotsuga menziesii': 62,
 'Pinus taeda': 54,
 'Pinus wallichiana': 49,
 'Chamaecyparis lawsoniana': 39,
 'Picea mariana': 38,
 'Abies balsamea': 31,
 'Quercus macranthera': 29,
 'Picea smithiana': 24,
 'Abies pinsapo': 22,
 'Platanus orientalis': 21,
 'Liriodendron tulipifera': 20,
 'Cedrus deodara': 20,
 'Eucalyptus baxteri': 18,
 'Fagus orientalis': 18,
 'Tilia cordata': 18,
 'Eucalyptus obliqua': 17,
 'Pinus ponderosa': 17,
 'Fraxinus angustifolia': 16,
 'Acer saccharum': 15,
 'Populus alba': 15,
 'Callitris columellaris': 14,
 'Quercus alba': 14,
 'Quercus mongolica': 12,
 'Populus tremuloides': 12,
 'Eucalyptus delegatensis': 11,
 'Prosopis glandulosa': 11,
 'Liquidambar styraciflua': 11,
 'Abies pindrow': 11,
 'Betula pendula': 11,
 'Pinus elliottii': 10,
 'Betula utilis': 10,
 'Eucalyptus microcarpa': 9,
 'Larix gmelinii': 9,
 'Chamaecyparis obtusa': 9,
 'Quercus velutina': 9,
 'Cornus drummondii': 9,
 'Eucalyptus urophylla': 8,
 'Pinus contorta': 8,
 'Eucalyptus populnea': 7,
 'Pinus palustris': 7,
 'Prosopis velutina': 7,
 'Quercus michauxii': 7,
 'Cryptomeria japonica': 7,
 'Quercus infectoria': 7,
 'Acer rubrum': 7,
 'Pinus virginiana': 7,
 'Carya ovata': 7,
 'Larix decidua': 7,
 'Pinus sibirica': 7,
 'Eucalyptus viminalis': 6,
 'Eucalyptus macrorhyncha': 6,
 'Carpinus orientalis': 6,
 'Eucalyptus nitens': 5,
 'Eucalyptus dives': 5,
 'Eucalyptus grandis': 5,
 'Quercus nigra': 5,
 'Quercus stellata': 5,
 'Pinus densiflora': 5,
 'Celtis occidentalis': 5,
 'Pinus sabiniana': 5,
 'Pinus strobus': 5,
 'Picea glauca': 5,
 'Eucalyptus falciformis': 4,
 'Eucalyptus polyanthemos': 4,
 'Corymbia maculata': 4,
 'Eucalyptus pilularis': 4,
 'Eucalyptus loxophleba': 4,
 'Acacia tephrina': 4,
 'Eucalyptus cambageana': 4,
 'Quercus serrata': 4,
 'Carpinus betulus': 4,
 'Sequoia sempervirens': 4,
 'Picea engelmannii': 4,
 'Abies lasiocarpa': 4,
 'Fraxinus pennsylvanica': 4,
 'Prunus serotina': 4,
 'Populus deltoides': 4,
 'Quercus macrocarpa': 4,
 'Larix sibirica': 4,
 'Nothofagus solandri': 3,
 'Eucalyptus cladocalyx': 3,
 'Eucalyptus pauciflora': 3,
 'Corymbia citriodora': 3,
 'Eucalyptus crebra': 3,
 'Corymbia clarksoniana': 3,
 'Pinus roxburghii': 3,
 'Ephedra trifurca': 3,
 'Quercus falcata': 3,
 'Pinus echinata': 3,
 'Quercus brantii': 3,
 'Quercus libani': 3,
 'Larix kaempferi': 3,
 'Fagus crenata': 3,
 'Quercus wislizeni': 3,
 'Ceanothus cuneatus': 3,
 'Quercus douglasii': 3,
 'Pinus canariensis': 3,
 'Fraxinus americana': 3,
 'Juglans nigra': 3,
 'Carya cordiformis': 3,
 'Abies sachalinensis': 3,
 'Crataegus chrysocarpa': 3,
 'Populus tremula': 3,
 'Pinus banksiana': 3,
 'Eucalyptus globoidea': 2,
 'Acacia melanoxylon': 2,
 'Eucalyptus sieberi': 2,
 'Eucalyptus dalrympleana': 2,
 'Eucalyptus bridgesiana': 2,
 'Eucalyptus radiata': 2,
 'Eucalyptus fastigata': 2,
 'Eucalyptus goniocalyx': 2,
 'Eucalyptus melliodora': 2,
 'Acacia deanei': 2,
 'Eucalyptus sideroxylon': 2,
 'Eucalyptus argophloia': 2,
 'Acacia murrayana': 2,
 'Grevillea robusta': 2,
 'Acacia harpophylla': 2,
 'Eucalyptus melanophloia': 2,
 'Acacia cambagei': 2,
 'Corymbia dallachiana': 2,
 'Eucalyptus brownii': 2,
 'Castanopsis sieboldii': 2,
 'Nyssa sylvatica': 2,
 'Quercus phellos': 2,
 'Pinus thunbergii': 2,
 'Pinus tabuliformis': 2,
 'Quercus myrsinifolia': 2,
 'Abies veitchii': 2,
 'Sequoiadendron giganteum': 2,
 'Abies concolor': 2,
 'Quercus chrysolepis': 2,
 'Betula platyphylla': 2,
 'Carya glabra': 2,
 'Quercus coccinea': 2,
 'Pinus rigida': 2,
 'Acer saccharinum': 2,
 'Ulmus americana': 2,
 'Acer negundo': 2,
 'Quercus ellipsoidalis': 2,
 'Fraxinus nigra': 2,
 'Abies holophylla': 2,
 'Acer pseudoplatanus': 2,
 'Abies sibirica': 2,
 'Betula papyrifera': 2,
 'Nothofagus antarctica': 1,
 'Leptospermum scoparium': 1,
 'Kunzea ericoides': 1,
 'Eucalyptus amygdalina': 1,
 'Banksia serrata': 1,
 'Eucalyptus consideniana': 1,
 'Eucalyptus muelleriana': 1,
 'Eucalyptus cypellocarpa': 1,
 'Eucalyptus rubida': 1,
 'Eucalyptus stellulata': 1,
 'Eucalyptus tricarpa': 1,
 'Eucalyptus bicolor': 1,
 'Acacia stenophylla': 1,
 'Eucalyptus leucoxylon': 1,
 'Eucalyptus diversicolor': 1,
 'Eucalyptus falcata': 1,
 'Acacia saligna': 1,
 'Acacia leucoclada': 1,
 'Acacia boormanii': 1,
 'Acacia pravissima': 1,
 'Eucalyptus occidentalis': 1,
 'Angophora costata': 1,
 'Acacia pendula': 1,
 'Eucalyptus saligna': 1,
 'Eucalyptus salmonophloia': 1,
 'Acacia acuminata': 1,
 'Eucalyptus microcorys': 1,
 'Vachellia haematoxylon': 1,
 'Acacia aneura': 1,
 'Eremophila mitchellii': 1,
 'Eucalyptus coolabah': 1,
 'Eucalyptus creta': 1,
 'Acacia salicina': 1,
 'Eucalyptus tectifica': 1,
 'Eucalyptus patellaris': 1,
 'Acacia hemignosta': 1,
 'Melaleuca argentea': 1,
 'Melaleuca viridiflora': 1,
 'Acacia mangium': 1,
 'Albizia chinensis': 1,
 'Erica excelsa': 1,
 'Dinizia excelsa': 1,
 'Scaphium macropodum': 1,
 'Elateriospermum tapos': 1,
 'Shorea faguetiana': 1,
 'Psydrax subcordata': 1,
 'Melicoccus bijugatus': 1,
 'Pongamia pinnata': 1,
 'Metrosideros polymorpha': 1,
 'Tectona grandis': 1,
 'Araucaria columnaris': 1,
 'Eucommia ulmoides': 1,
 'Cladrastis platycarpa': 1,
 'Quercus chapmanii': 1,
 'Ilex glabra': 1,
 'Picea purpurea': 1,
 'Pistacia atlantica': 1,
 'Castanopsis cuspidata': 1,
 'Quercus marilandica': 1,
 'Ulmus alata': 1,
 'Pinus coulteri': 1,
 'Pinus serotina': 1,
 'Pinus gerardiana': 1,
 'Abies firma': 1,
 'Pyrus communis': 1,
 'Alnus glutinosa': 1,
 'Juniperus virginiana': 1,
 'Cercocarpus montanus': 1,
 'Calocedrus decurrens': 1,
 'Fremontodendron californicum': 1,
 'Arctostaphylos viscida': 1,
 'Aesculus californica': 1,
 'Frangula californica': 1,
 'Lupinus albifrons': 1,
 'Rhamnus ilicifolia': 1,
 'Thujopsis dolabrata': 1,
 'Carya laciniosa': 1,
 'Acer campestre': 1,
 'Alnus hirsuta': 1,
 'Quercus imbricaria': 1,
 'Quercus palustris': 1,
 'Zanthoxylum americanum': 1,
 'Ulmus rubra': 1,
 'Populus canadensis': 1,
 'Sarcobatus vermiculatus': 1,
 'Quercus bicolor': 1,
 'Carpinus caroliniana': 1,
 'Betula lenta': 1,
 'Tsuga canadensis': 1,
 'Picea schrenkiana': 1,
 'Betula maximowicziana': 1,
 'Quercus glauca': 1,
 'Picea koraiensis': 1,
 'Betula dahurica': 1,
 'Abies nephrolepis': 1,
 'Picea jezoensis': 1,
 'Picea rubens': 1,
 'Fraxinus mandshurica': 1,
 'Larix laricina': 1,
 'Acer circinatum': 1,
 'Ostrya carpinifolia': 1,
 'Pinus cembra': 1,
 'Elaeagnus angustifolia': 1,
 'Elaeagnus commutata': 1,
 'Tsuga heterophylla': 1,
 'Prunus avium': 1,
 'Taxus baccata': 1,
 'Robinia pseudoacacia': 1,
 'Picea sitchensis': 1,
 'Picea obovata': 1,
 'Salix arbutifolia': 1,
 'Alnus alnobetula': 1}

## Pick the species with more than 500 samples

1. For species with > 500 samples, we want to pick a tree from that location
2. Download 100m2 from that location (around the centre point)
3. pick pixel/location with NDVI > 0.7 within that 100m2
4. Use that as training
5. Test prediction on sites that were not included in training with the same species

In [8]:
species_of_interest = [c for c, v in h_counts.items() if v > 500]
sub_df = df[df['species'].isin(species_of_interest)]
sub_df.to_csv('../data/sat_public_tallo.csv', index=False)

In [9]:
# Then also just do the lat and long

mean_df = sub_df.groupby(['latitude', 'longitude']).agg({'tree_id': 'first', 
                                                        'division': 'first',
                                                         'family': 'first',
                                                         'genus': 'first', 
                                                         'species': 'first',
                                                        'stem_diameter_cm': lambda x: x.mean(skipna=True),
                                                         'height_m': lambda x: x.mean(skipna=True),
                                                         'crown_radius_m': lambda x: x.mean(skipna=True)})

mean_df.to_csv('../data/sat_public_tallo_mean.csv')
mean_df

                     tree_id    division     family       genus
latitude longitude
-43.2561 146.9190   T_498824  Angiosperm  Myrtaceae  Eucalyptus  \
-42.9662 146.7574   T_498779  Angiosperm  Myrtaceae  Eucalyptus
-42.9639 146.7546   T_498776  Angiosperm  Myrtaceae  Eucalyptus
         146.7560   T_498778  Angiosperm  Myrtaceae  Eucalyptus
-42.8000 147.6000   T_332054  Angiosperm  Myrtaceae  Eucalyptus
...                      ...         ...        ...         ...
 62.5000 29.2000    T_126621  Gymnosperm   Pinaceae       Pinus
 63.5000 41.8400    T_496109  Gymnosperm   Pinaceae       Pinus
 65.2200 33.1700    T_344679  Gymnosperm   Pinaceae       Pinus
 67.3950 28.7230        T_11  Gymnosperm   Pinaceae       Pinus
 67.7380 29.6490         T_7  Gymnosperm   Pinaceae       Pinus

                                species  stem_diameter_cm   height_m
latitude longitude
-43.2561 146.9190   Eucalyptus globulus        554.000000  82.300000  \
-42.9662 146.7574   Eucalyptus globulus        388.000000  85.100000
-42.9639 146.7546   Eucalyptus globulus        382.000000  85.000000
         146.7560   Eucalyptus globulus        388.000000  90.700000
-42.8000 147.6000   Eucalyptus globulus         20.933333  20.500000
...                                 ...               ...        ...
 62.5000 29.2000       Pinus sylvestris         19.291852  17.693926
 63.5000 41.8400       Pinus sylvestris          5.368750   6.912500
 65.2200 33.1700       Pinus sylvestris         28.000000  16.590909
 67.3950 28.7230       Pinus sylvestris         30.575536  16.269957
 67.7380 29.6490       Pinus sylvestris         25.903960  14.941611

                    crown_radius_m
latitude longitude
-43.2561 146.9190              NaN
-42.9662 146.7574              NaN
-42.9639 146.7546              NaN
         146.7560              NaN
-42.8000 147.6000              NaN
...                            ...
 62.5000 29.2000          2.206399
 63.5000 41.8400          0.653125
 65.2200 33.1700               NaN
 67.3950 28.7230          2.020601
 67.7380 29.6490          1.741667

[52741 rows x 8 columns]

In [10]:
## Now we want to download these trees and then perform our analysis using planet scope

In [11]:
# 16 class problem and pick 500 samples from each dataset for training! 
training_df = pd.DataFrame()
for s in species_of_interest:
    species_df = mean_df[mean_df['species'] == s].sample(500)
    training_df = pd.concat([training_df, species_df])
training_df

,,tree_id,division,family,genus,species,stem_diameter_cm,height_m,crown_radius_m
latitude,longitude,,,,,,,,
43.458,-5.979,T_253177,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,21.7,23.0,1.50
43.634,-7.748,T_273062,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,29.2,17.0,2.50
43.262,-3.456,T_239622,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,16.4,17.5,1.50
43.425,-2.852,T_225768,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,13.3,10.5,1.00
-36.683,147.596,T_416227,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,19.8,11.8,NaN
...,...,...,...,...,...,...,...,...,...
43.114,-4.045,T_275631,Angiosperm,Fagaceae,Quercus,Quercus robur,30.7,15.0,2.00
42.821,-8.719,T_225069,Angiosperm,Fagaceae,Quercus,Quercus robur,13.2,10.5,2.25
43.026,-8.264,T_253941,Angiosperm,Fagaceae,Quercus,Quercus robur,22.1,16.5,1.75
42.574,-8.038,T_240773,Angiosperm,Fagaceae,Quercus,Quercus robur,16.8,11.0,1.00
42.955,-8.363,T_260541,Angiosperm,Fagaceae,Quercus,Quercus robur,24.2,12.0,4.00

In [12]:
# 8000 training samples
training_df.to_csv('../data/training_public_tallo.csv')

In [13]:
training_df.division.value_counts()

division
Angiosperm    4500
Gymnosperm    3500
Name: count, dtype: int64

In [14]:
training_df.family.value_counts()

family
Pinaceae     3500
Fagaceae     3500
Myrtaceae    1000
Name: count, dtype: int64

In [15]:
training_df.genus.value_counts()

genus
Pinus         3500
Quercus       2500
Eucalyptus    1000
Castanea       500
Fagus          500
Name: count, dtype: int64

In [16]:
training_df.species.value_counts()

species
Eucalyptus globulus         500
Eucalyptus camaldulensis    500
Pinus radiata               500
Quercus ilex                500
Pinus halepensis            500
Quercus suber               500
Pinus pinea                 500
Quercus faginea             500
Pinus pinaster              500
Castanea sativa             500
Pinus nigra                 500
Pinus sylvestris            500
Pinus uncinata              500
Quercus petraea             500
Fagus sylvatica             500
Quercus robur               500
Name: count, dtype: int64

## Now get the image ID we want to add for each of the training/plots, and let's also create the bounding box


We do this here because this is just data setup. In an ideal world, where REMOTE SENSING PEOPLE HAD SOME SENSE AND ACTUALLY PUBLISHED THEIR DATA SO IT COULD BE REPRODUCIBLE we wouldn't have to do this. Alas the tree people cry and this is what I have resorted to

In [17]:
from remseno import *

2023-06-23 18:45:17.146389: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [18]:
c = Coords('../data/sat_public_tallo_mean.csv', x_col='longitude', y_col='latitude', label_col='division',
                   id_col='tree_id', sep=',', class1='Angiosperm', class2='Gymnosperm')

--------------------------------------------------------------------------------
Removed rows not in class1 or class2 i.e.	Angiosperm	Gymnosperm	 in column:	division	Your dataset origionally had:	52741
Now you have:	52741
--------------------------------------------------------------------------------

In [19]:
df = c.df
ys = df['latitude']
bbs = []
meters = 100
for i, x in enumerate(df['longitude'].values):
    bbs.append(c.build_polygon_from_centre_point(x, ys[i], meters, meters))
df['polygon_100m'] = bbs

In [20]:
polygons = []
for bs in bbs:
    cs = []
    for b in bs:
        cs.append([b[0], b[1]])
    polygons.append(cs)

# PlanetScope section

Now we want to get the optimal image ID for these points - i.e. we want to get the ones with the least cloud cover.

In [21]:
import os
import json
import requests
from requests.auth import HTTPBasicAuth
# import os module to access enviornmental modules

import requests

os.environ['PL_API_KEY']='PLAK5a21e86c2faf452195d43c3ca3f318ee'
# pass in your API key
API_KEY = 'PLAK5a21e86c2faf452195d43c3ca3f318ee'
PLANET_API_KEY = os.getenv('PL_API_KEY')
# Setup the API Key from the `PL_API_KEY` environment variable

BASE_URL = "https://api.planet.com/data/v1"

session = requests.Session()
#setup a session

session.auth = (PLANET_API_KEY, "")
#authenticate session with user name and password, pass in an empty string for the password

res = session.get(BASE_URL)
#make a get request to the Data API

print(res.status_code)
# test response

print(res.text)
# print response body
south_gte = "2022-12-01T00:00:00.000Z"
south_lte = "2023-02-31T00:00:00.000Z"

north_gte = "2022-06-01T00:00:00.000Z"
north_lte = "2023-08-31T00:00:00.000Z"

200
{"_links": {"_self": "https://api.planet.com/data/v1/", "asset-types": "https://api.planet.com/data/v1/asset-types/", "item-types": "https://api.planet.com/data/v1/item-types/", "spec": "https://api.planet.com/data/v1/spec"}}

## Choose the optimal...
1. Azimuth near 90 # right above
2. Cloudcover at 0
3. sun_azimuth near 0 # midday do cloud cover first then sun azimuth maybe need to get the azimuth later

In [22]:
def build_filter(position, filename):
    if position[0][0] < 0:
        gte = south_gte
        lte = south_lte
    else:
        gte = north_gte
        lte = north_lte

    geojson_geometry = {
      "type": "Polygon",
      "coordinates": [
            position
      ]
    }
    # get images that overlap with our AOI 
    geometry_filter = {
      "type": "GeometryFilter",
      "field_name": "geometry",
      "config": geojson_geometry
    }

    # get images acquired within a date range
    date_range_filter = {
      "type": "DateRangeFilter",
      "field_name": "acquired",
      "config": {
        "gte": gte,
        "lte": lte
      }
    }

    # only get images which have <50% cloud coverage
    cloud_cover_filter = {
      "type": "RangeFilter",
      "field_name": "cloud_cover",
      "config": {
        "lte": 0.1
      }
    }

    # combine our geo, date, cloud filters
    combined_filter = {
      "type": "AndFilter",
      "config": [geometry_filter, cloud_cover_filter, date_range_filter], 
    }

    item_type = "PSScene"

    # API request object
    search_request = {
      "item_types": [item_type], 
      "filter": combined_filter
    }

    # fire off the POST request
    search_result = \
      requests.post(
        'https://api.planet.com/data/v1/quick-search',
        auth=HTTPBasicAuth(API_KEY, ''),
        json=search_request)

    geojson = search_result.json()
    
    geo_df = pd.DataFrame() # Add in the things we're looking at
    ids = []
    azi = []
    cloud_cover = []
    sun_azi = []
    # Also only want it if ortho_analytic_8b_sr is availabe in assets
    asset = 'ortho_analytic_8b_sr'
    for image in geojson['features']:
        if asset in image['assets']:
            cloud_cover.append(image['properties']['cloud_cover'])
            ids.append(image['id'])
            sun_azi.append(image['properties']['sun_azimuth'])
            azi.append(image['properties']['satellite_azimuth'])
    geo_df['ids'] = ids
    geo_df['sun_azimuth'] = sun_azi
    geo_df['satellite_azimuth'] = azi
    geo_df['cloud_cover'] = cloud_cover
    geo_df # Save this to CSV anyway so that the user can use it later

    # Get the mean azimuth i.e. optimise between sun and sat
    geo_df['mean_azi'] = (abs(abs(geo_df['sun_azimuth'].values) - 90) + abs((abs(geo_df['satellite_azimuth'].values)-90))) /2
    geo_df = geo_df.sort_values(['cloud_cover', 'mean_azi']) # We want it to be as close to 90 degrees as possible
    geo_df.to_csv(filename, index=False)
    # Pick the first ID then and this will be our training dataaset! 
    return geo_df['ids'].values[0]

In [23]:
build_filter(polygons[0], '../data/output/planetscope/ids/test.csv')

'20230113_230929_43_241e'

In [25]:
from tqdm import tqdm
image_ids = []

tree_ids = df['tree_id'].values
for i in tqdm(range(60, len(polygons))):
    try:
        image_ids.append(build_filter(polygons[i], f'../data/output/planetscope/ids/{tree_ids[i]}.csv'))
    except:
        image_ids.append(None)

100%|â–ˆâ–ˆâ–ˆâ–ˆ| 52681/52681 [6:33:38<00:00,  2.23it/s]