# Here we want to curate a dataset of trees

This is challenging because NO PAPERS PROVIDE THEIR DATA

In [31]:
# Read in Tallo and see if any sites have high proportoin of certain trees

import pandas as pd 

df = pd.read_csv('../data/tallo/Tallo.csv')
df

,tree_id,division,family,genus,species,latitude,longitude,stem_diameter_cm,height_m,crown_radius_m,height_outlier,crown_radius_outlier,reference_id
0,T_1,Angiosperm,Betulaceae,Betula,Betula pubescens,67.3950,28.7230,10.0,5.6,1.65,N,N,1
1,T_2,Gymnosperm,Pinaceae,Picea,Picea abies,67.3950,28.7230,10.0,6.6,0.85,N,N,1
2,T_3,Gymnosperm,Pinaceae,Picea,Picea abies,67.3950,28.7230,10.0,8.5,0.75,N,N,1
3,T_4,Gymnosperm,Pinaceae,Picea,Picea abies,67.3950,28.7230,10.0,7.2,0.75,N,N,1
4,T_5,Gymnosperm,Pinaceae,Picea,Picea abies,67.3950,28.7230,10.0,8.1,1.10,N,N,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
498833,T_498834,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-43.1593,146.8434,589.0,79.7,NaN,N,N,69
498834,T_498835,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-43.1213,146.8172,593.0,78.0,NaN,N,N,69
498835,T_498836,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-41.2273,147.9892,605.0,59.0,NaN,N,N,69
498836,T_498837,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-43.0766,146.7702,608.0,73.0,NaN,N,N,69
498837,T_498838,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus regnans,-43.1511,146.8360,652.0,79.3,NaN,N,N,69

In [1]:
! pip install ../dist/remseno-0.0.1.tar.gz

Processing /Users/ariane/Documents/code/remseno/dist/remseno-0.0.1.tar.gz
  Preparing metadata (setup.py) ... done
Requirement already satisfied: pandas in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (2.0.1)
Requirement already satisfied: numpy in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (1.23.5)
Requirement already satisfied: matplotlib>=3.3.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (3.7.1)
Requirement already satisfied: scivae in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (1.1.0)
Requirement already satisfied: sciutil in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (1.0.3)
Requirement already satisfied: scikit-learn in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (1.2.2)
Requirement already satisfied: jupyterlab in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (3.6.3)
Requirement already satisfied: rasterio in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (1.3.6)
Requirement already satisfied: pyproj in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from remseno==0.0.1) (3.5.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from matplotlib>=3.3.3->remseno==0.0.1) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from matplotlib>=3.3.3->remseno==0.0.1) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from matplotlib>=3.3.3->remseno==0.0.1) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from matplotlib>=3.3.3->remseno==0.0.1) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from matplotlib>=3.3.3->remseno==0.0.1) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from matplotlib>=3.3.3->remseno==0.0.1) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from matplotlib>=3.3.3->remseno==0.0.1) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from matplotlib>=3.3.3->remseno==0.0.1) (2.8.2)
Requirement already satisfied: ipython in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (8.13.2)
Requirement already satisfied: tornado>=6.1.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (6.3.1)
Requirement already satisfied: jupyter-core in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (5.3.0)
Requirement already satisfied: jupyterlab-server~=2.19 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (2.22.1)
Requirement already satisfied: jupyter-server<3,>=1.16.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (2.5.0)
Requirement already satisfied: jupyter-ydoc~=0.2.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (0.2.4)
Requirement already satisfied: jupyter-server-ydoc~=0.8.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (0.8.0)
Requirement already satisfied: nbclassic in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (1.0.0)
Requirement already satisfied: notebook<7 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (6.5.4)
Requirement already satisfied: jinja2>=2.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (3.1.2)
Requirement already satisfied: tomli in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab->remseno==0.0.1) (2.0.1)
Requirement already satisfied: pytz>=2020.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from pandas->remseno==0.0.1) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from pandas->remseno==0.0.1) (2023.3)
Requirement already satisfied: certifi in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from pyproj->remseno==0.0.1) (2023.5.7)
Requirement already satisfied: affine in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from rasterio->remseno==0.0.1) (2.4.0)
Requirement already satisfied: attrs in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from rasterio->remseno==0.0.1) (23.1.0)
Requirement already satisfied: click>=4.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from rasterio->remseno==0.0.1) (8.1.3)
Requirement already satisfied: cligj>=0.5 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from rasterio->remseno==0.0.1) (0.7.2)
Requirement already satisfied: snuggs>=1.4.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from rasterio->remseno==0.0.1) (1.4.7)
Requirement already satisfied: click-plugins in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from rasterio->remseno==0.0.1) (1.1.1)
Requirement already satisfied: setuptools in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from rasterio->remseno==0.0.1) (67.7.2)
Requirement already satisfied: scipy>=1.3.2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scikit-learn->remseno==0.0.1) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scikit-learn->remseno==0.0.1) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scikit-learn->remseno==0.0.1) (3.1.0)
Requirement already satisfied: Keras>=2.4.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scivae->remseno==0.0.1) (2.12.0)
Requirement already satisfied: Keras-Applications>=1.0.8 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scivae->remseno==0.0.1) (1.0.8)
Requirement already satisfied: pyswarm in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scivae->remseno==0.0.1) (0.6)
Requirement already satisfied: tensorflow>=2.9 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scivae->remseno==0.0.1) (2.12.0)
Requirement already satisfied: tensorflow-probability in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scivae->remseno==0.0.1) (0.20.0)
Requirement already satisfied: seaborn in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scivae->remseno==0.0.1) (0.12.2)
Requirement already satisfied: sciviso>=1.0.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scivae->remseno==0.0.1) (1.0.9)
Requirement already satisfied: statsmodels in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from scivae->remseno==0.0.1) (0.14.0)
Requirement already satisfied: MarkupSafe>=2.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jinja2>=2.1->jupyterlab->remseno==0.0.1) (2.1.2)
Requirement already satisfied: anyio>=3.1.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (3.6.2)
Requirement already satisfied: argon2-cffi in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (21.3.0)
Requirement already satisfied: jupyter-client>=7.4.4 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (8.2.0)
Requirement already satisfied: jupyter-events>=0.4.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.6.3)
Requirement already satisfied: jupyter-server-terminals in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.4.4)
Requirement already satisfied: nbconvert>=6.4.4 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (7.4.0)
Requirement already satisfied: nbformat>=5.3.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (5.8.0)
Requirement already satisfied: prometheus-client in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.16.0)
Requirement already satisfied: pyzmq>=24 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (25.0.2)
Requirement already satisfied: send2trash in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (1.8.2)
Requirement already satisfied: terminado>=0.8.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.17.1)
Requirement already satisfied: traitlets>=5.6.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (5.9.0)
Requirement already satisfied: websocket-client in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (1.5.1)
Requirement already satisfied: platformdirs>=2.5 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-core->jupyterlab->remseno==0.0.1) (3.5.0)
Requirement already satisfied: jupyter-server-fileid<1,>=0.6.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server-ydoc~=0.8.0->jupyterlab->remseno==0.0.1) (0.9.0)
Requirement already satisfied: ypy-websocket<0.9.0,>=0.8.2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-server-ydoc~=0.8.0->jupyterlab->remseno==0.0.1) (0.8.2)
Requirement already satisfied: y-py<0.6.0,>=0.5.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-ydoc~=0.2.3->jupyterlab->remseno==0.0.1) (0.5.9)

Requirement already satisfied: babel>=2.10 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (2.12.1)
Requirement already satisfied: json5>=0.9.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (0.9.11)
Requirement already satisfied: jsonschema>=4.17.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (4.17.3)
Requirement already satisfied: requests>=2.28 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (2.30.0)
Requirement already satisfied: h5py in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from Keras-Applications>=1.0.8->scivae->remseno==0.0.1) (3.8.0)
Requirement already satisfied: ipython-genutils in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from notebook<7->jupyterlab->remseno==0.0.1) (0.2.0)
Requirement already satisfied: nest-asyncio>=1.5 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from notebook<7->jupyterlab->remseno==0.0.1) (1.5.6)
Requirement already satisfied: ipykernel in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from notebook<7->jupyterlab->remseno==0.0.1) (6.23.0)
Requirement already satisfied: notebook-shim>=0.2.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbclassic->jupyterlab->remseno==0.0.1) (0.2.3)
Requirement already satisfied: six>=1.5 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib>=3.3.3->remseno==0.0.1) (1.16.0)
Requirement already satisfied: statannot in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from sciviso>=1.0.3->scivae->remseno==0.0.1) (0.2.3)
Requirement already satisfied: adjustText in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from sciviso>=1.0.3->scivae->remseno==0.0.1) (0.8)
Requirement already satisfied: wordcloud in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from sciviso>=1.0.3->scivae->remseno==0.0.1) (1.9.1.1)
Requirement already satisfied: networkx in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from sciviso>=1.0.3->scivae->remseno==0.0.1) (3.1)
Requirement already satisfied: dash in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from sciviso>=1.0.3->scivae->remseno==0.0.1) (2.9.3)
Requirement already satisfied: kaleido in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from sciviso>=1.0.3->scivae->remseno==0.0.1) (0.2.1)
Requirement already satisfied: absl-py>=1.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (1.4.0)
Requirement already satisfied: astunparse>=1.6.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (1.6.3)
Requirement already satisfied: flatbuffers>=2.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (23.3.3)
Requirement already satisfied: gast<=0.4.0,>=0.2.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (0.4.0)
Requirement already satisfied: google-pasta>=0.1.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (0.2.0)
Requirement already satisfied: jax>=0.3.15 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (0.4.8)
Requirement already satisfied: libclang>=13.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (16.0.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (3.3.0)
Requirement already satisfied: protobuf!=4.21.0,!=4.21.1,!=4.21.2,!=4.21.3,!=4.21.4,!=4.21.5,<5.0.0dev,>=3.20.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (4.23.0)
Requirement already satisfied: termcolor>=1.1.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (2.3.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (4.5.0)
Requirement already satisfied: wrapt<1.15,>=1.11.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (1.14.1)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (1.54.0)
Requirement already satisfied: tensorboard<2.13,>=2.12 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (2.12.3)
Requirement already satisfied: tensorflow-estimator<2.13,>=2.12.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (2.12.0)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow>=2.9->scivae->remseno==0.0.1) (0.32.0)
Requirement already satisfied: backcall in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (0.2.0)
Requirement already satisfied: decorator in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (0.18.2)
Requirement already satisfied: matplotlib-inline in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (0.1.6)
Requirement already satisfied: pickleshare in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (3.0.38)
Requirement already satisfied: pygments>=2.4.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (2.15.1)
Requirement already satisfied: stack-data in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (0.6.2)
Requirement already satisfied: pexpect>4.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (4.8.0)
Requirement already satisfied: appnope in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipython->jupyterlab->remseno==0.0.1) (0.1.3)
Requirement already satisfied: patsy>=0.5.2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from statsmodels->scivae->remseno==0.0.1) (0.5.3)
Requirement already satisfied: cloudpickle>=1.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow-probability->scivae->remseno==0.0.1) (2.2.1)
Requirement already satisfied: dm-tree in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorflow-probability->scivae->remseno==0.0.1) (0.1.8)
Requirement already satisfied: idna>=2.8 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from anyio>=3.1.0->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (3.4)
Requirement already satisfied: sniffio>=1.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from anyio>=3.1.0->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (1.3.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from astunparse>=1.6.0->tensorflow>=2.9->scivae->remseno==0.0.1) (0.40.0)

Requirement already satisfied: ml-dtypes>=0.0.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jax>=0.3.15->tensorflow>=2.9->scivae->remseno==0.0.1) (0.1.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jedi>=0.16->ipython->jupyterlab->remseno==0.0.1) (0.8.3)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (0.19.3)
Requirement already satisfied: python-json-logger>=2.0.4 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (2.0.7)
Requirement already satisfied: pyyaml>=5.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (6.0)
Requirement already satisfied: rfc3339-validator in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.1.4)
Requirement already satisfied: rfc3986-validator>=0.1.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jupyter-events>=0.4.0->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.1.1)
Requirement already satisfied: beautifulsoup4 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (4.12.2)
Requirement already satisfied: bleach in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (6.0.0)
Requirement already satisfied: defusedxml in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.7.1)
Requirement already satisfied: jupyterlab-pygments in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.2.2)
Requirement already satisfied: mistune<3,>=2.0.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (2.0.5)
Requirement already satisfied: nbclient>=0.5.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.7.4)
Requirement already satisfied: pandocfilters>=1.4.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (1.5.0)
Requirement already satisfied: tinycss2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (1.2.1)
Requirement already satisfied: fastjsonschema in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from nbformat>=5.3.0->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (2.16.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from pexpect>4.3->ipython->jupyterlab->remseno==0.0.1) (0.7.0)
Requirement already satisfied: wcwidth in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30->ipython->jupyterlab->remseno==0.0.1) (0.2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from requests>=2.28->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (3.1.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from requests>=2.28->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (2.0.2)
Requirement already satisfied: google-auth<3,>=1.6.3 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (2.17.3)
Requirement already satisfied: google-auth-oauthlib<1.1,>=0.5 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (1.0.0)
Requirement already satisfied: markdown>=2.6.8 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (3.4.3)
Requirement already satisfied: tensorboard-data-server<0.8.0,>=0.7.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (0.7.0)
Requirement already satisfied: werkzeug>=1.0.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (2.3.4)
Requirement already satisfied: aiofiles<23,>=22.1.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc~=0.8.0->jupyterlab->remseno==0.0.1) (22.1.0)
Requirement already satisfied: aiosqlite<1,>=0.17.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ypy-websocket<0.9.0,>=0.8.2->jupyter-server-ydoc~=0.8.0->jupyterlab->remseno==0.0.1) (0.19.0)
Requirement already satisfied: argon2-cffi-bindings in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (21.2.0)
Requirement already satisfied: Flask>=1.0.4 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from dash->sciviso>=1.0.3->scivae->remseno==0.0.1) (2.3.2)
Requirement already satisfied: plotly>=5.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from dash->sciviso>=1.0.3->scivae->remseno==0.0.1) (5.14.1)
Requirement already satisfied: dash-html-components==2.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from dash->sciviso>=1.0.3->scivae->remseno==0.0.1) (2.0.0)
Requirement already satisfied: dash-core-components==2.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from dash->sciviso>=1.0.3->scivae->remseno==0.0.1) (2.0.0)
Requirement already satisfied: dash-table==5.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from dash->sciviso>=1.0.3->scivae->remseno==0.0.1) (5.0.0)
Requirement already satisfied: comm>=0.1.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipykernel->notebook<7->jupyterlab->remseno==0.0.1) (0.1.3)
Requirement already satisfied: debugpy>=1.6.5 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipykernel->notebook<7->jupyterlab->remseno==0.0.1) (1.6.7)
Requirement already satisfied: psutil in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from ipykernel->notebook<7->jupyterlab->remseno==0.0.1) (5.9.5)
Requirement already satisfied: executing>=1.2.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from stack-data->ipython->jupyterlab->remseno==0.0.1) (1.2.0)
Requirement already satisfied: asttokens>=2.1.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from stack-data->ipython->jupyterlab->remseno==0.0.1) (2.2.1)
Requirement already satisfied: pure-eval in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from stack-data->ipython->jupyterlab->remseno==0.0.1) (0.2.2)
Requirement already satisfied: itsdangerous>=2.1.2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from Flask>=1.0.4->dash->sciviso>=1.0.3->scivae->remseno==0.0.1) (2.1.2)
Requirement already satisfied: blinker>=1.6.2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from Flask>=1.0.4->dash->sciviso>=1.0.3->scivae->remseno==0.0.1) (1.6.2)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (1.3.1)

Requirement already satisfied: fqdn in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (1.5.1)
Requirement already satisfied: isoduration in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (20.11.0)
Requirement already satisfied: jsonpointer>1.13 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (2.3)
Requirement already satisfied: uri-template in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (1.2.0)
Requirement already satisfied: webcolors>=1.11 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (1.13)
Requirement already satisfied: tenacity>=6.2.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from plotly>=5.0.0->dash->sciviso>=1.0.3->scivae->remseno==0.0.1) (8.2.2)
Requirement already satisfied: cffi>=1.0.1 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (1.15.1)
Requirement already satisfied: soupsieve>1.2 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from beautifulsoup4->nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (2.4.1)
Requirement already satisfied: webencodings in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from bleach->nbconvert>=6.4.4->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (0.5.1)
Requirement already satisfied: pycparser in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->jupyter-server<3,>=1.16.0->jupyterlab->remseno==0.0.1) (2.21)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<1.1,>=0.5->tensorboard<2.13,>=2.12->tensorflow>=2.9->scivae->remseno==0.0.1) (3.2.2)
Requirement already satisfied: arrow>=0.15.0 in /Users/ariane/opt/miniconda3/envs/rhm/lib/python3.10/site-packages (from isoduration->jsonschema>=4.17.3->jupyterlab-server~=2.19->jupyterlab->remseno==0.0.1) (1.2.3)
Building wheels for collected packages: remseno
  Building wheel for remseno (setup.py) ... done
  Created wheel for remseno: filename=remseno-0.0.1-py3-none-any.whl size=46375 sha256=f866758d141274205195af16817d8fbeb38b463cc55db00dbfd1e4332ae5f48b
  Stored in directory: /Users/ariane/Library/Caches/pip/wheels/d6/dc/60/90822bf7a588c586397c0d67b4da6cb9f75f949c74ed65b439
Successfully built remseno
Installing collected packages: remseno
  Attempting uninstall: remseno
    Found existing installation: remseno 0.0.1
    Uninstalling remseno-0.0.1:
      Successfully uninstalled remseno-0.0.1
Successfully installed remseno-0.0.1

In [32]:
# What we want to do is group by lat and long and then look at the species distribution try find places with very few
grped = df.groupby(['latitude', 'longitude'])
location_map = {}

for location, values in grped:
    location_map[location] = {}
    family = {}
    genus = {}
    species = {}
    division = {}
    loc_size = len(values)
    for f in set(values['family'].values):
        family[f] = len(values['family']==f)/loc_size
    for f in set(values['genus'].values):
        genus[f] = len(values['genus']==f)/loc_size
    for f in set(values['species'].values):
        species[f] = len(values['species']==f)/loc_size
    for f in set(values['division'].values):
        division[f] = len(values['division']==f)/loc_size
    location_map[location]['size'] = loc_size
    location_map[location]['division'] = division
    location_map[location]['family'] = family
    location_map[location]['genus'] = genus
    location_map[location]['species'] = species

In [36]:
len(grped)

61856

In [33]:
# (52306, 9550)

In [34]:
# Calculate the number of places which have different numbers...
homo = []
hetro = []

for loc, location in location_map.items():
    if len(location['species']) == 1:
        homo += [c for c in location['species']] # i.e. add in the species
    else:
        hetro.append(loc)

In [35]:
len(homo), len(hetro)

(52306, 9550)

In [5]:
h_counts = {}
for h in homo:
    if not h_counts.get(h):
        h_counts[h] = 1
    else:
        h_counts[h] += 1

In [6]:
# Cool now print assending order
{k: v for k, v in sorted(h_counts.items(), key=lambda item: -item[1])}

{'Quercus ilex': 9221,
 'Pinus pinaster': 8351,
 'Pinus halepensis': 8132,
 'Pinus sylvestris': 5913,
 'Pinus nigra': 4066,
 'Fagus sylvatica': 2025,
 'Pinus pinea': 1897,
 'Quercus suber': 1836,
 'Quercus faginea': 1578,
 'Pinus radiata': 1516,
 'Eucalyptus globulus': 1493,
 'Quercus robur': 1367,
 'Castanea sativa': 805,
 'Quercus petraea': 614,
 'Pinus uncinata': 602,
 'Eucalyptus camaldulensis': 506,
 'Populus nigra': 390,
 nan: 243,
 'Abies alba': 152,
 'Picea abies': 126,
 'Eucalyptus regnans': 92,
 'Quercus rubra': 88,
 'Quercus canariensis': 78,
 'Pseudotsuga menziesii': 62,
 'Pinus taeda': 54,
 'Pinus wallichiana': 49,
 'Chamaecyparis lawsoniana': 39,
 'Picea mariana': 38,
 'Abies balsamea': 31,
 'Quercus macranthera': 29,
 'Picea smithiana': 24,
 'Abies pinsapo': 22,
 'Platanus orientalis': 21,
 'Liriodendron tulipifera': 20,
 'Cedrus deodara': 20,
 'Eucalyptus baxteri': 18,
 'Fagus orientalis': 18,
 'Tilia cordata': 18,
 'Eucalyptus obliqua': 17,
 'Pinus ponderosa': 17,
 'Fraxinus angustifolia': 16,
 'Acer saccharum': 15,
 'Populus alba': 15,
 'Callitris columellaris': 14,
 'Quercus alba': 14,
 'Quercus mongolica': 12,
 'Populus tremuloides': 12,
 'Eucalyptus delegatensis': 11,
 'Prosopis glandulosa': 11,
 'Liquidambar styraciflua': 11,
 'Abies pindrow': 11,
 'Betula pendula': 11,
 'Pinus elliottii': 10,
 'Betula utilis': 10,
 'Eucalyptus microcarpa': 9,
 'Larix gmelinii': 9,
 'Chamaecyparis obtusa': 9,
 'Quercus velutina': 9,
 'Cornus drummondii': 9,
 'Eucalyptus urophylla': 8,
 'Pinus contorta': 8,
 'Eucalyptus populnea': 7,
 'Pinus palustris': 7,
 'Prosopis velutina': 7,
 'Quercus michauxii': 7,
 'Cryptomeria japonica': 7,
 'Quercus infectoria': 7,
 'Acer rubrum': 7,
 'Pinus virginiana': 7,
 'Carya ovata': 7,
 'Larix decidua': 7,
 'Pinus sibirica': 7,
 'Eucalyptus viminalis': 6,
 'Eucalyptus macrorhyncha': 6,
 'Carpinus orientalis': 6,
 'Eucalyptus nitens': 5,
 'Eucalyptus dives': 5,
 'Eucalyptus grandis': 5,
 'Quercus nigra': 5,
 'Quercus stellata': 5,
 'Pinus densiflora': 5,
 'Celtis occidentalis': 5,
 'Pinus sabiniana': 5,
 'Pinus strobus': 5,
 'Picea glauca': 5,
 'Eucalyptus falciformis': 4,
 'Eucalyptus polyanthemos': 4,
 'Corymbia maculata': 4,
 'Eucalyptus pilularis': 4,
 'Eucalyptus loxophleba': 4,
 'Acacia tephrina': 4,
 'Eucalyptus cambageana': 4,
 'Quercus serrata': 4,
 'Carpinus betulus': 4,
 'Sequoia sempervirens': 4,
 'Picea engelmannii': 4,
 'Abies lasiocarpa': 4,
 'Fraxinus pennsylvanica': 4,
 'Prunus serotina': 4,
 'Populus deltoides': 4,
 'Quercus macrocarpa': 4,
 'Larix sibirica': 4,
 'Nothofagus solandri': 3,
 'Eucalyptus cladocalyx': 3,
 'Eucalyptus pauciflora': 3,
 'Corymbia citriodora': 3,
 'Eucalyptus crebra': 3,
 'Corymbia clarksoniana': 3,
 'Pinus roxburghii': 3,
 'Ephedra trifurca': 3,
 'Quercus falcata': 3,
 'Pinus echinata': 3,
 'Quercus brantii': 3,
 'Quercus libani': 3,
 'Larix kaempferi': 3,
 'Fagus crenata': 3,
 'Quercus wislizeni': 3,
 'Ceanothus cuneatus': 3,
 'Quercus douglasii': 3,
 'Pinus canariensis': 3,
 'Fraxinus americana': 3,
 'Juglans nigra': 3,
 'Carya cordiformis': 3,
 'Abies sachalinensis': 3,
 'Crataegus chrysocarpa': 3,
 'Populus tremula': 3,
 'Pinus banksiana': 3,
 'Eucalyptus globoidea': 2,
 'Acacia melanoxylon': 2,
 'Eucalyptus sieberi': 2,
 'Eucalyptus dalrympleana': 2,
 'Eucalyptus bridgesiana': 2,
 'Eucalyptus radiata': 2,
 'Eucalyptus fastigata': 2,
 'Eucalyptus goniocalyx': 2,
 'Eucalyptus melliodora': 2,
 'Acacia deanei': 2,
 'Eucalyptus sideroxylon': 2,
 'Eucalyptus argophloia': 2,
 'Acacia murrayana': 2,
 'Grevillea robusta': 2,
 'Acacia harpophylla': 2,
 'Eucalyptus melanophloia': 2,
 'Acacia cambagei': 2,
 'Corymbia dallachiana': 2,
 'Eucalyptus brownii': 2,
 'Castanopsis sieboldii': 2,
 'Nyssa sylvatica': 2,
 'Quercus phellos': 2,
 'Pinus thunbergii': 2,
 'Pinus tabuliformis': 2,
 'Quercus myrsinifolia': 2,
 'Abies veitchii': 2,
 'Sequoiadendron giganteum': 2,
 'Abies concolor': 2,
 'Quercus chrysolepis': 2,
 'Betula platyphylla': 2,
 'Carya glabra': 2,
 'Quercus coccinea': 2,
 'Pinus rigida': 2,
 'Acer saccharinum': 2,
 'Ulmus americana': 2,
 'Acer negundo': 2,
 'Quercus ellipsoidalis': 2,
 'Fraxinus nigra': 2,
 'Abies holophylla': 2,
 'Acer pseudoplatanus': 2,
 'Abies sibirica': 2,
 'Betula papyrifera': 2,
 'Nothofagus antarctica': 1,
 'Leptospermum scoparium': 1,
 'Kunzea ericoides': 1,
 'Eucalyptus amygdalina': 1,
 'Banksia serrata': 1,
 'Eucalyptus consideniana': 1,
 'Eucalyptus muelleriana': 1,
 'Eucalyptus cypellocarpa': 1,
 'Eucalyptus rubida': 1,
 'Eucalyptus stellulata': 1,
 'Eucalyptus tricarpa': 1,
 'Eucalyptus bicolor': 1,
 'Acacia stenophylla': 1,
 'Eucalyptus leucoxylon': 1,
 'Eucalyptus diversicolor': 1,
 'Eucalyptus falcata': 1,
 'Acacia saligna': 1,
 'Acacia leucoclada': 1,
 'Acacia boormanii': 1,
 'Acacia pravissima': 1,
 'Eucalyptus occidentalis': 1,
 'Angophora costata': 1,
 'Acacia pendula': 1,
 'Eucalyptus saligna': 1,
 'Eucalyptus salmonophloia': 1,
 'Acacia acuminata': 1,
 'Eucalyptus microcorys': 1,
 'Vachellia haematoxylon': 1,
 'Acacia aneura': 1,
 'Eremophila mitchellii': 1,
 'Eucalyptus coolabah': 1,
 'Eucalyptus creta': 1,
 'Acacia salicina': 1,
 'Eucalyptus tectifica': 1,
 'Eucalyptus patellaris': 1,
 'Acacia hemignosta': 1,
 'Melaleuca argentea': 1,
 'Melaleuca viridiflora': 1,
 'Acacia mangium': 1,
 'Albizia chinensis': 1,
 'Erica excelsa': 1,
 'Dinizia excelsa': 1,
 'Scaphium macropodum': 1,
 'Elateriospermum tapos': 1,
 'Shorea faguetiana': 1,
 'Psydrax subcordata': 1,
 'Melicoccus bijugatus': 1,
 'Pongamia pinnata': 1,
 'Metrosideros polymorpha': 1,
 'Tectona grandis': 1,
 'Araucaria columnaris': 1,
 'Eucommia ulmoides': 1,
 'Cladrastis platycarpa': 1,
 'Quercus chapmanii': 1,
 'Ilex glabra': 1,
 'Picea purpurea': 1,
 'Pistacia atlantica': 1,
 'Castanopsis cuspidata': 1,
 'Quercus marilandica': 1,
 'Ulmus alata': 1,
 'Pinus coulteri': 1,
 'Pinus serotina': 1,
 'Pinus gerardiana': 1,
 'Abies firma': 1,
 'Pyrus communis': 1,
 'Alnus glutinosa': 1,
 'Juniperus virginiana': 1,
 'Cercocarpus montanus': 1,
 'Calocedrus decurrens': 1,
 'Fremontodendron californicum': 1,
 'Arctostaphylos viscida': 1,
 'Aesculus californica': 1,
 'Frangula californica': 1,
 'Lupinus albifrons': 1,
 'Rhamnus ilicifolia': 1,
 'Thujopsis dolabrata': 1,
 'Carya laciniosa': 1,
 'Acer campestre': 1,
 'Alnus hirsuta': 1,
 'Quercus imbricaria': 1,
 'Quercus palustris': 1,
 'Zanthoxylum americanum': 1,
 'Ulmus rubra': 1,
 'Populus canadensis': 1,
 'Sarcobatus vermiculatus': 1,
 'Quercus bicolor': 1,
 'Carpinus caroliniana': 1,
 'Betula lenta': 1,
 'Tsuga canadensis': 1,
 'Picea schrenkiana': 1,
 'Betula maximowicziana': 1,
 'Quercus glauca': 1,
 'Picea koraiensis': 1,
 'Betula dahurica': 1,
 'Abies nephrolepis': 1,
 'Picea jezoensis': 1,
 'Picea rubens': 1,
 'Fraxinus mandshurica': 1,
 'Larix laricina': 1,
 'Acer circinatum': 1,
 'Ostrya carpinifolia': 1,
 'Pinus cembra': 1,
 'Elaeagnus angustifolia': 1,
 'Elaeagnus commutata': 1,
 'Tsuga heterophylla': 1,
 'Prunus avium': 1,
 'Taxus baccata': 1,
 'Robinia pseudoacacia': 1,
 'Picea sitchensis': 1,
 'Picea obovata': 1,
 'Salix arbutifolia': 1,
 'Alnus alnobetula': 1}

## Pick the species with more than 500 samples

1. For species with > 500 samples, we want to pick a tree from that location
2. Download 100m2 from that location (around the centre point)
3. pick pixel/location with NDVI > 0.7 within that 100m2
4. Use that as training
5. Test prediction on sites that were not included in training with the same species

In [8]:
species_of_interest = [c for c, v in h_counts.items() if v > 500]
sub_df = df[df['species'].isin(species_of_interest)]
sub_df.to_csv('../data/sat_public_tallo.csv', index=False)

In [9]:
# Then also just do the lat and long

mean_df = sub_df.groupby(['latitude', 'longitude']).agg({'tree_id': 'first', 
                                                        'division': 'first',
                                                         'family': 'first',
                                                         'genus': 'first', 
                                                         'species': 'first',
                                                        'stem_diameter_cm': lambda x: x.mean(skipna=True),
                                                         'height_m': lambda x: x.mean(skipna=True),
                                                         'crown_radius_m': lambda x: x.mean(skipna=True)})

mean_df.to_csv('../data/sat_public_tallo_mean.csv')
mean_df

                     tree_id    division     family       genus
latitude longitude
-43.2561 146.9190   T_498824  Angiosperm  Myrtaceae  Eucalyptus  \
-42.9662 146.7574   T_498779  Angiosperm  Myrtaceae  Eucalyptus
-42.9639 146.7546   T_498776  Angiosperm  Myrtaceae  Eucalyptus
         146.7560   T_498778  Angiosperm  Myrtaceae  Eucalyptus
-42.8000 147.6000   T_332054  Angiosperm  Myrtaceae  Eucalyptus
...                      ...         ...        ...         ...
 62.5000 29.2000    T_126621  Gymnosperm   Pinaceae       Pinus
 63.5000 41.8400    T_496109  Gymnosperm   Pinaceae       Pinus
 65.2200 33.1700    T_344679  Gymnosperm   Pinaceae       Pinus
 67.3950 28.7230        T_11  Gymnosperm   Pinaceae       Pinus
 67.7380 29.6490         T_7  Gymnosperm   Pinaceae       Pinus

                                species  stem_diameter_cm   height_m
latitude longitude
-43.2561 146.9190   Eucalyptus globulus        554.000000  82.300000  \
-42.9662 146.7574   Eucalyptus globulus        388.000000  85.100000
-42.9639 146.7546   Eucalyptus globulus        382.000000  85.000000
         146.7560   Eucalyptus globulus        388.000000  90.700000
-42.8000 147.6000   Eucalyptus globulus         20.933333  20.500000
...                                 ...               ...        ...
 62.5000 29.2000       Pinus sylvestris         19.291852  17.693926
 63.5000 41.8400       Pinus sylvestris          5.368750   6.912500
 65.2200 33.1700       Pinus sylvestris         28.000000  16.590909
 67.3950 28.7230       Pinus sylvestris         30.575536  16.269957
 67.7380 29.6490       Pinus sylvestris         25.903960  14.941611

                    crown_radius_m
latitude longitude
-43.2561 146.9190              NaN
-42.9662 146.7574              NaN
-42.9639 146.7546              NaN
         146.7560              NaN
-42.8000 147.6000              NaN
...                            ...
 62.5000 29.2000          2.206399
 63.5000 41.8400          0.653125
 65.2200 33.1700               NaN
 67.3950 28.7230          2.020601
 67.7380 29.6490          1.741667

[52741 rows x 8 columns]

In [47]:
mean_df.to_csv('../data/sat_public_tallo_mean.csv')

In [10]:
## Now we want to download these trees and then perform our analysis using planet scope

In [11]:
# 16 class problem and pick 500 samples from each dataset for training! 
training_df = pd.DataFrame()
for s in species_of_interest:
    species_df = mean_df[mean_df['species'] == s].sample(500)
    training_df = pd.concat([training_df, species_df])
training_df

,,tree_id,division,family,genus,species,stem_diameter_cm,height_m,crown_radius_m
latitude,longitude,,,,,,,,
43.458,-5.979,T_253177,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,21.7,23.0,1.50
43.634,-7.748,T_273062,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,29.2,17.0,2.50
43.262,-3.456,T_239622,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,16.4,17.5,1.50
43.425,-2.852,T_225768,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,13.3,10.5,1.00
-36.683,147.596,T_416227,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,19.8,11.8,NaN
...,...,...,...,...,...,...,...,...,...
43.114,-4.045,T_275631,Angiosperm,Fagaceae,Quercus,Quercus robur,30.7,15.0,2.00
42.821,-8.719,T_225069,Angiosperm,Fagaceae,Quercus,Quercus robur,13.2,10.5,2.25
43.026,-8.264,T_253941,Angiosperm,Fagaceae,Quercus,Quercus robur,22.1,16.5,1.75
42.574,-8.038,T_240773,Angiosperm,Fagaceae,Quercus,Quercus robur,16.8,11.0,1.00
42.955,-8.363,T_260541,Angiosperm,Fagaceae,Quercus,Quercus robur,24.2,12.0,4.00

In [12]:
# 8000 training samples
training_df.to_csv('../data/training_public_tallo.csv')

In [13]:
training_df.division.value_counts()

division
Angiosperm    4500
Gymnosperm    3500
Name: count, dtype: int64

In [14]:
training_df.family.value_counts()

family
Pinaceae     3500
Fagaceae     3500
Myrtaceae    1000
Name: count, dtype: int64

In [15]:
training_df.genus.value_counts()

genus
Pinus         3500
Quercus       2500
Eucalyptus    1000
Castanea       500
Fagus          500
Name: count, dtype: int64

In [16]:
training_df.species.value_counts()

species
Eucalyptus globulus         500
Eucalyptus camaldulensis    500
Pinus radiata               500
Quercus ilex                500
Pinus halepensis            500
Quercus suber               500
Pinus pinea                 500
Quercus faginea             500
Pinus pinaster              500
Castanea sativa             500
Pinus nigra                 500
Pinus sylvestris            500
Pinus uncinata              500
Quercus petraea             500
Fagus sylvatica             500
Quercus robur               500
Name: count, dtype: int64

## Now get the image ID we want to add for each of the training/plots, and let's also create the bounding box


We do this here because this is just data setup. In an ideal world, where REMOTE SENSING PEOPLE HAD SOME SENSE AND ACTUALLY PUBLISHED THEIR DATA SO IT COULD BE REPRODUCIBLE we wouldn't have to do this. Alas the tree people cry and this is what I have resorted to

In [4]:
from remseno import *
import pandas as pd

In [5]:
c = Coords('../data/sat_public_tallo_mean.csv', x_col='longitude', y_col='latitude', label_col='division',
                   id_col='tree_id', sep=',', class1='Angiosperm', class2='Gymnosperm', crs='EPSG:4326')

--------------------------------------------------------------------------------
Removed rows not in class1 or class2 i.e.	Angiosperm	Gymnosperm	 in column:	division	Your dataset origionally had:	52741
Now you have:	52741
--------------------------------------------------------------------------------

In [6]:
df = c.df
ys = df['latitude']
bbs = []
meters = 90
for i, x in enumerate(df['longitude'].values):
    bbs.append(c.build_polygon_from_centre_point(x, ys[i], meters, meters, crs='EPSG:4326'))

In [7]:
polygons = []
x0, x1, y0, y1 = [], [], [], []
for bs in bbs:
    cs = []
    for b in bs:
        cs.append([b[0], b[1]])
    polygons.append(cs)
    x0.append(min([x[1] for x in cs]))
    x1.append(max([x[1] for x in cs]))
    y0.append(min([x[0] for x in cs]))
    y1.append(max([x[0] for x in cs]))
df['x0'] = x0
df['x1'] = x1
df['y0'] = y0
df['y1'] = y1

# Filter to only include non-intersecting regions

In [8]:
df_dd = df.drop_duplicates('x0')
df_dd = df_dd.drop_duplicates('x1')
df_dd = df_dd.drop_duplicates('y0')
df_dd = df_dd.drop_duplicates('y1')

In [9]:

print(df_dd.family.value_counts())
print(df_dd.division.value_counts())
print(df_dd.genus.value_counts())
print(df_dd.species.value_counts())

family
Fagaceae     1966
Pinaceae     1761
Myrtaceae     392
Name: count, dtype: int64
division
Angiosperm    2358
Gymnosperm    1761
Name: count, dtype: int64
genus
Quercus       1820
Pinus         1761
Eucalyptus     392
Fagus           82
Castanea        64
Name: count, dtype: int64
species
Quercus ilex                1215
Pinus pinaster               733
Pinus halepensis             383
Quercus suber                335
Pinus pinea                  284
Eucalyptus globulus          244
Pinus sylvestris             212
Quercus robur                165
Eucalyptus camaldulensis     148
Pinus nigra                   99
Quercus faginea               97
Fagus sylvatica               82
Castanea sativa               64
Pinus radiata                 45
Quercus petraea                8
Pinus uncinata                 5
Name: count, dtype: int64

In [10]:
df = df_dd

ys = df['latitude'].values
bbs = []
meters = 90
for i, x in enumerate(df['longitude'].values):
    bbs.append(c.build_polygon_from_centre_point(x, ys[i], meters, meters, crs='EPSG:4326'))
df['polygon_90m'] = bbs
df

,latitude,longitude,tree_id,division,family,genus,species,stem_diameter_cm,height_m,crown_radius_m,binary_label,x0,x1,y0,y1,polygon_90m
0,-43.2561,146.9190,T_498824,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,554.000000,82.300000,NaN,0,-43.256663,-43.255538,146.918595,146.919405,"[(146.9185945945946, -43.2555375), (146.918594..."
1,-42.9662,146.7574,T_498779,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,388.000000,85.100000,NaN,0,-42.966763,-42.965637,146.756995,146.757805,"[(146.75699459459457, -42.9656375), (146.75699..."
2,-42.9639,146.7546,T_498776,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,382.000000,85.000000,NaN,0,-42.964463,-42.963338,146.754195,146.755005,"[(146.7541945945946, -42.9633375), (146.754194..."
4,-42.8000,147.6000,T_332054,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,20.933333,20.500000,NaN,0,-42.800562,-42.799437,147.599595,147.600405,"[(147.59959459459458, -42.799437499999996), (1..."
5,-42.7900,147.4900,T_330016,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,15.344444,15.677778,NaN,0,-42.790563,-42.789437,147.489595,147.490405,"[(147.4895945945946, -42.7894375), (147.489594..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52736,62.5000,29.2000,T_126621,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,19.291852,17.693926,2.206399,1,62.499437,62.500563,29.199595,29.200405,"[(29.199594594594593, 62.5005625), (29.1995945..."
52737,63.5000,41.8400,T_496109,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,5.368750,6.912500,0.653125,1,63.499437,63.500563,41.839595,41.840405,"[(41.8395945945946, 63.5005625), (41.839594594..."
52738,65.2200,33.1700,T_344679,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,28.000000,16.590909,NaN,1,65.219437,65.220562,33.169595,33.170405,"[(33.1695945945946, 65.2205625), (33.169594594..."
52739,67.3950,28.7230,T_11,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,30.575536,16.269957,2.020601,1,67.394437,67.395562,28.722595,28.723405,"[(28.722594594594593, 67.3955625), (28.7225945..."
52740,67.7380,29.6490,T_7,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,25.903960,14.941611,1.741667,1,67.737437,67.738563,29.648595,29.649405,"[(29.648594594594595, 67.7385625), (29.6485945..."

In [11]:
polygons = []
x0, x1, y0, y1 = [], [], [], []
for bs in bbs:
    cs = []
    for b in bs:
        cs.append([b[0], b[1]])
    polygons.append(cs)
    x0.append(min([x[1] for x in cs]))
    x1.append(max([x[1] for x in cs]))
    y0.append(min([x[0] for x in cs]))
    y1.append(max([x[0] for x in cs]))
df['x0'] = x0
df['x1'] = x1
df['y0'] = y0
df['y1'] = y1

In [12]:
len(polygons)

4119

# PlanetScope section

Now we want to get the optimal image ID for these points - i.e. we want to get the ones with the least cloud cover.

In [13]:
import os
import json
import requests
from requests.auth import HTTPBasicAuth
# import os module to access enviornmental modules

import requests

os.environ['PL_API_KEY']='PLAK5a21e86c2faf452195d43c3ca3f318ee'
# pass in your API key
API_KEY = 'PLAK5a21e86c2faf452195d43c3ca3f318ee'
PLANET_API_KEY = os.getenv('PL_API_KEY')
# Setup the API Key from the `PL_API_KEY` environment variable

BASE_URL = "https://api.planet.com/data/v1"

session = requests.Session()
#setup a session

session.auth = (PLANET_API_KEY, "")
#authenticate session with user name and password, pass in an empty string for the password

res = session.get(BASE_URL)
#make a get request to the Data API

print(res.status_code)
# test response

print(res.text)
# print response body
south_gte = "2022-12-01T00:00:00.000Z"
south_lte = "2023-02-31T00:00:00.000Z"

north_gte = "2022-06-01T00:00:00.000Z"
north_lte = "2023-08-31T00:00:00.000Z"

200
{"_links": {"_self": "https://api.planet.com/data/v1/", "asset-types": "https://api.planet.com/data/v1/asset-types/", "item-types": "https://api.planet.com/data/v1/item-types/", "spec": "https://api.planet.com/data/v1/spec"}}

## Choose the optimal...
1. Azimuth near 90 # right above
2. Cloudcover at 0
3. sun_azimuth near 0 # midday do cloud cover first then sun azimuth maybe need to get the azimuth later

In [14]:
def build_filter(position, filename):
    if position[0][0] < 0:
        gte = south_gte
        lte = south_lte
    else:
        gte = north_gte
        lte = north_lte

    geojson_geometry = {
      "type": "Polygon",
      "coordinates": [
            position
      ]
    }
    # get images that overlap with our AOI 
    geometry_filter = {
      "type": "GeometryFilter",
      "field_name": "geometry",
      "config": geojson_geometry
    }

    # get images acquired within a date range
    date_range_filter = {
      "type": "DateRangeFilter",
      "field_name": "acquired",
      "config": {
        "gte": gte,
        "lte": lte
      }
    }

    # only get images which have <50% cloud coverage
    cloud_cover_filter = {
      "type": "RangeFilter",
      "field_name": "cloud_cover",
      "config": {
        "lte": 0.1
      }
    }

    # combine our geo, date, cloud filters
    combined_filter = {
      "type": "AndFilter",
      "config": [geometry_filter, cloud_cover_filter, date_range_filter], 
    }

    item_type = "PSScene"

    # API request object
    search_request = {
      "item_types": [item_type], 
      "filter": combined_filter
    }

    # fire off the POST request
    search_result = \
      requests.post(
        'https://api.planet.com/data/v1/quick-search',
        auth=HTTPBasicAuth(API_KEY, ''),
        json=search_request)

    geojson = search_result.json()
    
    geo_df = pd.DataFrame() # Add in the things we're looking at
    ids = []
    azi = []
    cloud_cover = []
    sun_azi = []
    # Also only want it if ortho_analytic_8b_sr is availabe in assets
    asset = 'ortho_analytic_8b_sr'
    for image in geojson['features']:
        if asset in image['assets']:
            cloud_cover.append(image['properties']['cloud_cover'])
            ids.append(image['id'])
            sun_azi.append(image['properties']['sun_azimuth'])
            azi.append(image['properties']['satellite_azimuth'])
    geo_df['ids'] = ids
    geo_df['sun_azimuth'] = sun_azi
    geo_df['satellite_azimuth'] = azi
    geo_df['cloud_cover'] = cloud_cover
    geo_df # Save this to CSV anyway so that the user can use it later

    # Get the mean azimuth i.e. optimise between sun and sat
    geo_df['mean_azi'] = (abs(abs(geo_df['sun_azimuth'].values) - 90) + abs((abs(geo_df['satellite_azimuth'].values)-90))) /2
    geo_df = geo_df.sort_values(['cloud_cover', 'mean_azi']) # We want it to be as close to 90 degrees as possible
    geo_df.to_csv(filename, index=False)
    # Pick the first ID then and this will be our training dataaset! 
    return geo_df['ids'].values[0]

In [15]:
build_filter(polygons[0], '../data/output/planetscope/ids/test.csv')

'20230113_230929_43_241e'

In [21]:
from tqdm import tqdm
image_ids = []

tree_ids = df['tree_id'].values
for i in tqdm(range(40, len(polygons))):
    try:
        image_ids.append(build_filter(polygons[i], f'../data/output/planetscope/downloads/{tree_ids[i]}.csv'))
    except:
        image_ids.append(None)

100%|â–ˆ| 4079/4079 [21:36<00:00,  3.

In [22]:
df['image_ids'] = list(df_subset['image_id'].values) + image_ids
df

,latitude,longitude,tree_id,division,family,genus,species,stem_diameter_cm,height_m,crown_radius_m,binary_label,x0,x1,y0,y1,polygon_90m,image_ids
0,-43.2561,146.9190,T_498824,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,554.000000,82.300000,NaN,0,-43.256663,-43.255538,146.918595,146.919405,"[(146.9185945945946, -43.2555375), (146.918594...",20230113_230929_43_241e
1,-42.9662,146.7574,T_498779,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,388.000000,85.100000,NaN,0,-42.966763,-42.965637,146.756995,146.757805,"[(146.75699459459457, -42.9656375), (146.75699...",20230113_230924_81_241e
2,-42.9639,146.7546,T_498776,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,382.000000,85.000000,NaN,0,-42.964463,-42.963338,146.754195,146.755005,"[(146.7541945945946, -42.9633375), (146.754194...",20230113_230924_81_241e
4,-42.8000,147.6000,T_332054,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,20.933333,20.500000,NaN,0,-42.800562,-42.799437,147.599595,147.600405,"[(147.59959459459458, -42.799437499999996), (1...",20221226_230459_63_2465
5,-42.7900,147.4900,T_330016,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,15.344444,15.677778,NaN,0,-42.790563,-42.789437,147.489595,147.490405,"[(147.4895945945946, -42.7894375), (147.489594...",20221226_230459_63_2465
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52736,62.5000,29.2000,T_126621,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,19.291852,17.693926,2.206399,1,62.499437,62.500563,29.199595,29.200405,"[(29.199594594594593, 62.5005625), (29.1995945...",20220629_082513_12_2427
52737,63.5000,41.8400,T_496109,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,5.368750,6.912500,0.653125,1,63.499437,63.500563,41.839595,41.840405,"[(41.8395945945946, 63.5005625), (41.839594594...",20220712_073718_73_2464
52738,65.2200,33.1700,T_344679,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,28.000000,16.590909,NaN,1,65.219437,65.220562,33.169595,33.170405,"[(33.1695945945946, 65.2205625), (33.169594594...",20230514_081024_50_2451
52739,67.3950,28.7230,T_11,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,30.575536,16.269957,2.020601,1,67.394437,67.395562,28.722595,28.723405,"[(28.722594594594593, 67.3955625), (28.7225945...",20230619_083808_03_2423
52740,67.7380,29.6490,T_7,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,25.903960,14.941611,1.741667,1,67.737437,67.738563,29.648595,29.649405,"[(29.648594594594595, 67.7385625), (29.6485945...",20230623_083305_56_2460

In [23]:
df.to_csv(f'../data/output/planetscope/download_DF.csv')

In [25]:
df.drop_duplicates('image_ids').to_csv(f'../data/output/planetscope/download_DF_dedup.csv')

,latitude,longitude,tree_id,division,family,genus,species,stem_diameter_cm,height_m,crown_radius_m,binary_label,x0,x1,y0,y1,polygon_90m,image_ids
0,-43.2561,146.9190,T_498824,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,554.000000,82.300000,NaN,0,-43.256663,-43.255538,146.918595,146.919405,"[(146.9185945945946, -43.2555375), (146.918594...",20230113_230929_43_241e
1,-42.9662,146.7574,T_498779,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,388.000000,85.100000,NaN,0,-42.966763,-42.965637,146.756995,146.757805,"[(146.75699459459457, -42.9656375), (146.75699...",20230113_230924_81_241e
4,-42.8000,147.6000,T_332054,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,20.933333,20.500000,NaN,0,-42.800562,-42.799437,147.599595,147.600405,"[(147.59959459459458, -42.799437499999996), (1...",20221226_230459_63_2465
6,-38.4000,145.9000,T_332135,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,24.450000,20.033333,NaN,0,-38.400562,-38.399437,145.899595,145.900405,"[(145.8995945945946, -38.3994375), (145.899594...",20221218_231416_10_2451
7,-37.8000,147.8000,T_332533,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,30.212500,11.062500,NaN,0,-37.800562,-37.799437,147.799595,147.800405,"[(147.7995945945946, -37.799437499999996), (14...",20221224_230916_56_241f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52736,62.5000,29.2000,T_126621,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,19.291852,17.693926,2.206399,1,62.499437,62.500563,29.199595,29.200405,"[(29.199594594594593, 62.5005625), (29.1995945...",20220629_082513_12_2427
52737,63.5000,41.8400,T_496109,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,5.368750,6.912500,0.653125,1,63.499437,63.500563,41.839595,41.840405,"[(41.8395945945946, 63.5005625), (41.839594594...",20220712_073718_73_2464
52738,65.2200,33.1700,T_344679,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,28.000000,16.590909,NaN,1,65.219437,65.220562,33.169595,33.170405,"[(33.1695945945946, 65.2205625), (33.169594594...",20230514_081024_50_2451
52739,67.3950,28.7230,T_11,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,30.575536,16.269957,2.020601,1,67.394437,67.395562,28.722595,28.723405,"[(28.722594594594593, 67.3955625), (28.7225945...",20230619_083808_03_2423
52740,67.7380,29.6490,T_7,Gymnosperm,Pinaceae,Pinus,Pinus sylvestris,25.903960,14.941611,1.741667,1,67.737437,67.738563,29.648595,29.649405,"[(29.648594594594595, 67.7385625), (29.6485945...",20230623_083305_56_2460

In [17]:
df_subset = df.head(40)

In [18]:
df_subset['image_id'] = image_ids

/var/folders/gq/6ljhmvm1713fykdjqbl188pm0000gn/T/ipykernel_78300/1784183095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_subset['image_id'] = image_ids

In [19]:
df_subset

,latitude,longitude,tree_id,division,family,genus,species,stem_diameter_cm,height_m,crown_radius_m,binary_label,x0,x1,y0,y1,polygon_90m,image_id
0,-43.2561,146.9190,T_498824,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,554.000000,82.300000,NaN,0,-43.256663,-43.255538,146.918595,146.919405,"[(146.9185945945946, -43.2555375), (146.918594...",20230113_230929_43_241e
1,-42.9662,146.7574,T_498779,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,388.000000,85.100000,NaN,0,-42.966763,-42.965637,146.756995,146.757805,"[(146.75699459459457, -42.9656375), (146.75699...",20230113_230924_81_241e
2,-42.9639,146.7546,T_498776,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,382.000000,85.000000,NaN,0,-42.964463,-42.963338,146.754195,146.755005,"[(146.7541945945946, -42.9633375), (146.754194...",20230113_230924_81_241e
4,-42.8000,147.6000,T_332054,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,20.933333,20.500000,NaN,0,-42.800562,-42.799437,147.599595,147.600405,"[(147.59959459459458, -42.799437499999996), (1...",20221226_230459_63_2465
5,-42.7900,147.4900,T_330016,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,15.344444,15.677778,NaN,0,-42.790563,-42.789437,147.489595,147.490405,"[(147.4895945945946, -42.7894375), (147.489594...",20221226_230459_63_2465
6,-38.4000,145.9000,T_332135,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,24.450000,20.033333,NaN,0,-38.400562,-38.399437,145.899595,145.900405,"[(145.8995945945946, -38.3994375), (145.899594...",20221218_231416_10_2451
7,-37.8000,147.8000,T_332533,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,30.212500,11.062500,NaN,0,-37.800562,-37.799437,147.799595,147.800405,"[(147.7995945945946, -37.799437499999996), (14...",20221224_230916_56_241f
8,-37.6560,147.6300,T_434530,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,81.500000,21.200000,NaN,0,-37.656562,-37.655437,147.629595,147.630405,"[(147.62959459459458, -37.6554375), (147.62959...",20221224_231106_49_241d
9,-37.3020,148.7240,T_430059,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,52.680000,37.520000,NaN,0,-37.302563,-37.301437,148.723595,148.724405,"[(148.72359459459457, -37.3014375), (148.72359...",20221231_230603_67_2465
10,-37.2750,143.2410,T_401886,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,28.483333,15.916667,NaN,0,-37.275562,-37.274437,143.240595,143.241405,"[(143.2405945945946, -37.2744375), (143.240594...",20230127_000415_37_24a5
11,-37.1720,143.6490,T_403812,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,29.000000,17.550000,NaN,0,-37.172562,-37.171437,143.648595,143.649405,"[(143.64859459459458, -37.171437499999996), (1...",20221224_232618_05_2448
12,-37.0590,143.2460,T_430204,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,51.750000,27.100000,NaN,0,-37.059562,-37.058437,143.245595,143.246405,"[(143.2455945945946, -37.0584375), (143.245594...",20221229_232639_77_2436
13,-36.9920,146.3930,T_400869,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,27.833333,12.422222,NaN,0,-36.992562,-36.991437,146.392595,146.393405,"[(146.39259459459458, -36.991437499999996), (1...",20221219_231549_95_2453
14,-36.8200,147.9150,T_424731,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,28.900000,17.700000,NaN,0,-36.820563,-36.819437,147.914595,147.915405,"[(147.91459459459458, -36.8194375), (147.91459...",20221218_230845_90_2459
15,-36.8000,145.2000,T_328103,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,6.866667,6.500000,NaN,0,-36.800562,-36.799437,145.199595,145.200405,"[(145.19959459459457, -36.799437499999996), (1...",20230113_232219_06_2439
16,-36.6830,147.5960,T_416227,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,19.800000,11.800000,NaN,0,-36.683563,-36.682437,147.595595,147.596405,"[(147.5955945945946, -36.6824375), (147.595594...",20221218_230845_90_2459
17,-36.5190,146.1290,T_387754,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,5.400000,2.100000,NaN,0,-36.519562,-36.518437,146.128595,146.129405,"[(146.12859459459457, -36.5184375), (146.12859...",20221230_231528_16_2447
18,-36.5160,146.9200,T_430999,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,45.600000,22.200000,NaN,0,-36.516562,-36.515437,146.919595,146.920405,"[(146.91959459459457, -36.5154375), (146.91959...",20230107_231119_70_2463
19,-36.4140,146.1300,T_387453,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,8.983333,3.912500,NaN,0,-36.414563,-36.413438,146.129595,146.130405,"[(146.12959459459458, -36.4134375), (146.12959...",20221223_231854_39_241e
20,-36.4000,146.1000,T_328227,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,10.775000,6.850000,NaN,0,-36.400562,-36.399437,146.099595,146.100405,"[(146.09959459459458, -36.3994375), (146.09959...",20221223_231854_39_241e
21,-36.3670,147.1840,T_428733,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,37.450000,18.900000,NaN,0,-36.367562,-36.366437,147.183595,147.184405,"[(147.18359459459458, -36.366437499999996), (1...",20230107_231117_40_2463
22,-36.2680,146.6030,T_399586,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,16.275000,11.850000,NaN,0,-36.268563,-36.267437,146.602595,146.603405,"[(146.6025945945946, -36.2674375), (146.602594...",20221230_231442_93_2464
23,-36.1870,147.9800,T_392923,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,30.020000,20.540000,NaN,0,-36.187562,-36.186437,147.979595,147.980405,"[(147.97959459459457, -36.1864375), (147.97959...",20221218_230836_62_2459
24,-36.0630,144.8670,T_393676,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,37.975000,11.675000,NaN,0,-36.063563,-36.062438,144.866595,144.867405,"[(144.86659459459457, -36.0624375), (144.86659...",20221218_232113_39_241b
25,-36.0000,144.4000,T_328074,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,7.706250,5.075000,NaN,0,-36.000563,-35.999437,144.399595,144.400405,"[(144.3995945945946, -35.9994375), (144.399594...",20221217_232133_85_2455
26,-35.9910,144.9560,T_407602,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,35.237500,20.700000,NaN,0,-35.991563,-35.990437,144.955595,144.956405,"[(144.95559459459457, -35.9904375), (144.95559...",20221218_232113_39_241b
27,-35.9880,145.7980,T_432458,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,54.300000,26.200000,NaN,0,-35.988563,-35.987437,145.797595,145.798405,"[(145.79759459459459, -35.9874375), (145.79759...",20230103_232047_81_2439
28,-35.9800,144.3850,T_387743,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,9.457143,7.900000,NaN,0,-35.980562,-35.979437,144.384595,144.385405,"[(144.38459459459457, -35.979437499999996), (1...",20230112_232632_00_241e
29,-35.9530,144.4460,T_406116,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,35.411111,15.566667,NaN,0,-35.953563,-35.952438,144.445595,144.446405,"[(144.44559459459458, -35.9524375), (144.44559...",20221217_232133_85_2455
30,-35.9000,139.9000,T_331266,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus globulus,17.366667,12.500000,NaN,0,-35.900562,-35.899437,139.899595,139.900405,"[(139.8995945945946, -35.8994375), (139.899594...",20230113_234450_86_242d
33,-35.8990,145.6430,T_395749,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,36.864286,22.200000,NaN,0,-35.899563,-35.898438,145.642595,145.643405,"[(145.64259459459458, -35.8984375), (145.64259...",20230113_232205_27_2439
34,-35.8460,145.1110,T_431439,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,70.900000,27.350000,NaN,0,-35.846562,-35.845437,145.110595,145.111405,"[(145.11059459459457, -35.845437499999996), (1...",20221218_232111_10_241b
36,-35.8450,144.3800,T_420580,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,62.733333,25.066667,NaN,0,-35.845562,-35.844437,144.379595,144.380405,"[(144.37959459459458, -35.8444375), (144.37959...",20230104_232606_30_2465
37,-35.8090,144.3360,T_399582,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,41.357143,16.757143,NaN,0,-35.809562,-35.808437,144.335595,144.336405,"[(144.3355945945946, -35.8084375), (144.335594...",20230104_232606_30_2465
39,-35.7720,144.2480,T_401104,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,19.600000,14.657143,NaN,0,-35.772562,-35.771437,144.247595,144.248405,"[(144.24759459459457, -35.7714375), (144.24759...",20230104_232606_30_2465
43,-35.7000,144.2050,T_410704,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,37.512500,23.312500,NaN,0,-35.700563,-35.699438,144.204595,144.205405,"[(144.2045945945946, -35.6994375), (144.204594...",20230104_232606_30_2465
44,-35.6000,144.1000,T_329408,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,33.806250,22.306250,NaN,0,-35.600563,-35.599438,144.099595,144.100405,"[(144.09959459459458, -35.5994375), (144.09959...",20221224_232552_67_2448
45,-35.5900,144.0730,T_394344,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,22.975000,15.112500,NaN,0,-35.590563,-35.589438,144.072595,144.073405,"[(144.0725945945946, -35.5894375), (144.072594...",20221224_232552_67_2448
46,-35.4620,143.8540,T_427697,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,58.100000,17.066667,NaN,0,-35.462563,-35.461438,143.853595,143.854405,"[(143.8535945945946, -35.4614375), (143.853594...",20221224_232552_67_2448
47,-35.1000,139.2000,T_327835,Angiosperm,Myrtaceae,Eucalyptus,Eucalyptus camaldulensis,4.190476,3.152381,NaN,0,-35.100563,-35.099438,139.199595,139.200405,"[(139.19959459459457, -35.0994375), (139.19959...",20221229_234506_85_2442

In [20]:
df_subset.to_csv('../data/output/planetscope/image_downloads.csv', index=False)

In [27]:
# Go through the saved dataframes and lets have a look.
tree_ids = df['tree_id'].values
for i in tqdm(range(0, len(polygons))):
    df = pd.read_csv(f'../data/output/planetscope/ids/{tree_ids[i]}.csv')
    break

  0%|                | 0/52741 [00:00<?, ?it/s]

In [29]:
df[df['image_ids'] == '20230113_230929_43_241e']['polygon_90m'].values

array([list([(146.9185945945946, -43.2555375), (146.9185945945946, -43.256662500000004), (146.91940540540543, -43.256662500000004), (146.91940540540543, -43.2555375), (146.9185945945946, -43.2555375)])],
      dtype=object)